@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  background-color: #1d1d1d;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: "JetBrains Mono", monospace;
}

.desc-title {
  font-size: 0.8rem;
  color: white;
  border: 0.1rem solid grey;
  border-radius: 0.8rem;
  padding: 0.4rem;
  font-family: "JetBrains Mono", monospace;
}

.desc {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}

p {
  color: white;
  margin-top: 2rem;
}

.foo {
  bottom: 0;
  font-size: 0.9rem;
  color: rgb(182, 60, 226);
  font-weight: 500;
  text-align: center;

  position: absolute;
  width: 100%;
  height: 2.5rem;
}

.foo-center {
  text-align: center;
}

.luffy {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5rem;
  width: 17rem;
  filter: grayscale(100%);
}

.luffy-button {
  background: none;
  border: none;
  padding: none;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.luffy-clicked {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5rem;
  width: 17rem;
}

.click-me {
  align-items: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #1d1d1d;
  background-color: grey;
  margin-top: 3rem;
  border: none;
  border-radius: 0.8rem;
  padding: 0.4rem;
}
